<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://plugin.powerschool.pearson.com" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
    description="CDOL Lunch Customizations" 
    name="CDOL Lunch" 
    version="22.11.2">
    <publisher name="Adrian Carlson">
        <contact email="adrian-carlson@cdolinc.net"/>
    </publisher>
</plugin>
